html {
    background-color: white
}

h1 {
    margin-left: 6em;
    font-family: "abril fatface", "georgia";
    font-size: 40px;
    margin-bottom: -.5em;
}

h2 {
    margin-left: 12em;
    font-family: "montserrat thin", "georgia";
    font-size: 30px;
    margin-top: .5em;
}

nav {
  display: grid;
    font-family: "cinzel", "georgia";
    font-size: 15px;
    margin-right: 20em;
    margin-left: 20em;
    text-align: center;
    margin-bottom: 5em;
}

a {
    color: black;
    text-decoration: none;
}

img {
    margin-bottom: 20px;
    margin-top: 20px;
}

main {
    display: flex;
    align-items: flex-end;
    font-family: "cinzel", "georgia";
    text-align: center;
}

footer {
    display: grid;
    font-family: "cinzel";
    font-size: 15px;
    margin-right: 1em;
    text-align: center;
    margin-top: 100px;
}

@media only screen and (max-width: 800px) {
    .nest {
        grid-template-columns: 1fr;
        grid-template-areas: none;
    }
}